USE [master]
GO
/* For security reasons the login is created disabled and with a random password. */
/****** Object:  Login [##MS_PolicyEventProcessingLogin##]    Script Date: 22/02/2019 17:13:46 ******/
CREATE LOGIN [##MS_PolicyEventProcessingLogin##] WITH PASSWORD=N'xrXsi5m45vfiO9xRivpf/80ykkk2fwh8M8TLHaiqgig=', DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english], CHECK_EXPIRATION=OFF, CHECK_POLICY=ON
GO
ALTER LOGIN [##MS_PolicyEventProcessingLogin##] DISABLE
GO
/* For security reasons the login is created disabled and with a random password. */
/****** Object:  Login [##MS_PolicyTsqlExecutionLogin##]    Script Date: 22/02/2019 17:13:46 ******/
CREATE LOGIN [##MS_PolicyTsqlExecutionLogin##] WITH PASSWORD=N'v6eeEUpkf3prgvMqQnet1qXT9faXqg+w28elClurvhU=', DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english], CHECK_EXPIRATION=OFF, CHECK_POLICY=ON
GO
ALTER LOGIN [##MS_PolicyTsqlExecutionLogin##] DISABLE
GO
/****** Object:  Login [NT AUTHORITY\SYSTEM]    Script Date: 22/02/2019 17:13:46 ******/
CREATE LOGIN [NT AUTHORITY\SYSTEM] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/****** Object:  Login [NT SERVICE\SQLSERVERAGENT]    Script Date: 22/02/2019 17:13:46 ******/
CREATE LOGIN [NT SERVICE\SQLSERVERAGENT] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/****** Object:  Login [NT SERVICE\SQLWriter]    Script Date: 22/02/2019 17:13:46 ******/
CREATE LOGIN [NT SERVICE\SQLWriter] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/****** Object:  Login [NT SERVICE\Winmgmt]    Script Date: 22/02/2019 17:13:46 ******/
CREATE LOGIN [NT SERVICE\Winmgmt] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/****** Object:  Login [NT Service\MSSQLSERVER]    Script Date: 22/02/2019 17:13:46 ******/
CREATE LOGIN [NT Service\MSSQLSERVER] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/****** Object:  Login [SOBELMASTER\administrator]    Script Date: 22/02/2019 17:13:46 ******/
CREATE LOGIN [SOBELMASTER\administrator] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/* For security reasons the login is created disabled and with a random password. */
/****** Object:  Login [UDBGGD]    Script Date: 22/02/2019 17:13:46 ******/
CREATE LOGIN [UDBGGD] WITH PASSWORD=N'lCPvRoQko9cKfA5XT31y2fjvR8kGzqOu4xPr/VkWJS4=', DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english], CHECK_EXPIRATION=OFF, CHECK_POLICY=OFF
GO
ALTER LOGIN [UDBGGD] DISABLE
GO
/* For security reasons the login is created disabled and with a random password. */
/****** Object:  Login [UDBP11]    Script Date: 22/02/2019 17:13:46 ******/
CREATE LOGIN [UDBP11] WITH PASSWORD=N'3ZNgHq7HGn/4EinKLeLK94xpzMxfP7sFoY1Td3H/8tE=', DEFAULT_DATABASE=[Protheus_Producao], DEFAULT_LANGUAGE=[us_english], CHECK_EXPIRATION=OFF, CHECK_POLICY=OFF
GO
ALTER LOGIN [UDBP11] DISABLE
GO
/* For security reasons the login is created disabled and with a random password. */
/****** Object:  Login [acacia]    Script Date: 22/02/2019 17:13:46 ******/
CREATE LOGIN [acacia] WITH PASSWORD=N'bjijWikzNs4tg+fiOKbfFRngn3h0N6BWFTgd7H/jhZQ=', DEFAULT_DATABASE=[AFVServer_SOBEL], DEFAULT_LANGUAGE=[us_english], CHECK_EXPIRATION=OFF, CHECK_POLICY=OFF
GO
ALTER LOGIN [acacia] DISABLE
GO
/* For security reasons the login is created disabled and with a random password. */
/****** Object:  Login [siga]    Script Date: 22/02/2019 17:13:46 ******/
CREATE LOGIN [siga] WITH PASSWORD=N'MGOla4Lihehc8eyFv8bg6rOJmqzgBrvvLMrr2a88iYk=', DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english], CHECK_EXPIRATION=OFF, CHECK_POLICY=OFF
GO
ALTER LOGIN [siga] DISABLE
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [NT SERVICE\SQLSERVERAGENT]
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [NT SERVICE\SQLWriter]
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [NT SERVICE\Winmgmt]
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [NT Service\MSSQLSERVER]
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [SOBELMASTER\administrator]
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [UDBGGD]
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [acacia]
GO
ALTER SERVER ROLE [serveradmin] ADD MEMBER [acacia]
GO
ALTER SERVER ROLE [setupadmin] ADD MEMBER [acacia]
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [siga]
GO
ALTER SERVER ROLE [serveradmin] ADD MEMBER [siga]
GO
ALTER SERVER ROLE [setupadmin] ADD MEMBER [siga]
GO
USE [Protheus_Teste12]
GO
/****** Object:  Table [dbo].[T_CLIENTENOVO_SOBEL]    Script Date: 22/02/2019 17:13:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_CLIENTENOVO_SOBEL](
	[SEQUENCIA] [int] NOT NULL,
	[CNPJ] [varchar](20) NOT NULL,
	[RAZAOSOCIAL] [varchar](100) NOT NULL,
	[NOMEREDUZIDO] [varchar](50) NULL,
	[ENDERECO] [varchar](100) NULL,
	[BAIRRO] [varchar](50) NULL,
	[CEP] [varchar](10) NULL,
	[CODIGONOMECIDADE] [varchar](100) NULL,
	[ESTADO] [varchar](2) NULL,
	[TELEFONE] [varchar](20) NULL,
	[INSCRICAOESTADUAL] [varchar](20) NULL,
	[EMAIL] [varchar](200) NULL,
	[NOMECONTADOR] [varchar](100) NULL,
	[CODIGOVENDEDORESP] [varchar](10) NULL,
	[CESP_DDD] [varchar](10) NULL,
	[MSGIMPORTACAO] [varchar](max) NULL,
	[DATAINTEGRACAOERP] [datetime] NULL,
	[DATAGRAVACAOACACIA] [datetime] NULL,
	[CODIGOUNIDFAT] [varchar](10) NULL,
	[CESP_CODIGOIBGE] [varchar](50) NULL,
	[LOJACLIENTE] [varchar](50) NULL,
 CONSTRAINT [FK_T_CLIENTENOVO_SOBEL] PRIMARY KEY CLUSTERED 
(
	[SEQUENCIA] ASC,
	[CNPJ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_PEDIDOITEM_SOBEL]    Script Date: 22/02/2019 17:13:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_PEDIDOITEM_SOBEL](
	[NUMPEDIDO] [int] NULL,
	[NUMITEM] [int] NOT NULL,
	[NUMPEDIDOAFV] [varchar](30) NOT NULL,
	[DATAPEDIDO] [datetime] NOT NULL,
	[HORAINICIAL] [varchar](5) NOT NULL,
	[CODIGOCLIENTE] [varchar](20) NOT NULL,
	[CODIGOPRODUTO] [varchar](30) NOT NULL,
	[QTDEVENDA] [float] NULL,
	[QTDEBONIFICADA] [float] NULL,
	[VALORVENDA] [float] NULL,
	[VALORBRUTO] [float] NULL,
	[DESCONTOI] [float] NULL,
	[DESCONTOII] [float] NULL,
	[VALORVERBA] [float] NULL,
	[CODIGOVENDEDORESP] [varchar](10) NULL,
	[MSGIMPORTACAO] [varchar](max) NULL,
 CONSTRAINT [PK_T_PEDIDOITEM_SOBEL] PRIMARY KEY CLUSTERED 
(
	[NUMITEM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_PEDIDO_SOBEL]    Script Date: 22/02/2019 17:13:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_PEDIDO_SOBEL](
	[NUMPEDIDO] [int] NOT NULL,
	[NUMPEDIDOSOBEL] [varchar](6) NULL,
	[LOJACLIENTE] [varchar](2) NULL,
	[NUMPEDIDOAFV] [varchar](30) NOT NULL,
	[DATAPEDIDO] [datetime] NOT NULL,
	[HORAINICIAL] [varchar](5) NOT NULL,
	[HORAFINAL] [varchar](5) NULL,
	[DATAENTREGA] [datetime] NULL,
	[CODIGOCLIENTE] [varchar](20) NOT NULL,
	[CODIGOTIPOPEDIDO] [varchar](10) NULL,
	[CODIGOCONDPAGTO] [varchar](10) NULL,
	[CODIGONOMEENDERECO] [varchar](100) NULL,
	[CODIGOUNIDFAT] [varchar](10) NULL,
	[CODIGOTABPRECO] [varchar](10) NULL,
	[ORDEMCOMPRA] [varchar](50) NULL,
	[OBSERVACAOI] [varchar](200) NULL,
	[OBSERVACAOII] [varchar](200) NULL,
	[VALORLIQUIDO] [float] NULL,
	[VALORBRUTO] [float] NULL,
	[CODIGOMOTIVOTIPOPED] [varchar](10) NULL,
	[CODIGOVENDEDORESP] [varchar](10) NULL,
	[CESP_DATAENTREGAFIM] [datetime] NULL,
	[CESP_NUMPEDIDOASSOC] [varchar](30) NULL,
	[DATAGRAVACAOACACIA] [datetime] NULL,
	[DATAINTEGRACAOERP] [datetime] NULL,
	[QTDEITENS] [int] NOT NULL,
	[MSGIMPORTACAO] [varchar](max) NULL,
	[VOLUME] [int] NULL,
 CONSTRAINT [FK_T_PEDIDO_SOBEL] PRIMARY KEY CLUSTERED 
(
	[NUMPEDIDO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[T_CLIENTENOVO_SOBEL] ([SEQUENCIA], [CNPJ], [RAZAOSOCIAL], [NOMEREDUZIDO], [ENDERECO], [BAIRRO], [CEP], [CODIGONOMECIDADE], [ESTADO], [TELEFONE], [INSCRICAOESTADUAL], [EMAIL], [NOMECONTADOR], [CODIGOVENDEDORESP], [CESP_DDD], [MSGIMPORTACAO], [DATAINTEGRACAOERP], [DATAGRAVACAOACACIA], [CODIGOUNIDFAT], [CESP_CODIGOIBGE], [LOJACLIENTE]) VALUES (10, N'37994644848', N'123', N'123', N'ASD', N'123', N'17514730', N'ADOLFO', N'SP', N'13131313', N'123', N'123', N'123', N'000573', N'12', NULL, NULL, CAST(N'2019-02-01T10:05:51.000' AS DateTime), N'04', N'00204', N'01')
INSERT [dbo].[T_PEDIDOITEM_SOBEL] ([NUMPEDIDO], [NUMITEM], [NUMPEDIDOAFV], [DATAPEDIDO], [HORAINICIAL], [CODIGOCLIENTE], [CODIGOPRODUTO], [QTDEVENDA], [QTDEBONIFICADA], [VALORVENDA], [VALORBRUTO], [DESCONTOI], [DESCONTOII], [VALORVERBA], [CODIGOVENDEDORESP], [MSGIMPORTACAO]) VALUES (127, 379, N'W923101191546065', CAST(N'2019-01-31T00:00:00.000' AS DateTime), N'15:46', N'015872', N'1001.01.03X05L ', 300, 0, 18.32, 18.32, 0, 0, 0, N'000364', NULL)
INSERT [dbo].[T_PEDIDOITEM_SOBEL] ([NUMPEDIDO], [NUMITEM], [NUMPEDIDOAFV], [DATAPEDIDO], [HORAINICIAL], [CODIGOCLIENTE], [CODIGOPRODUTO], [QTDEVENDA], [QTDEBONIFICADA], [VALORVENDA], [VALORBRUTO], [DESCONTOI], [DESCONTOII], [VALORVERBA], [CODIGOVENDEDORESP], [MSGIMPORTACAO]) VALUES (128, 380, N'1548959072735', CAST(N'2019-01-31T00:00:00.000' AS DateTime), N'16:24', N'015609', N'1001.01.03X05L ', 13, NULL, 12, 16.5, 27.2727272727273, NULL, NULL, N'000425', NULL)
INSERT [dbo].[T_PEDIDOITEM_SOBEL] ([NUMPEDIDO], [NUMITEM], [NUMPEDIDOAFV], [DATAPEDIDO], [HORAINICIAL], [CODIGOCLIENTE], [CODIGOPRODUTO], [QTDEVENDA], [QTDEBONIFICADA], [VALORVENDA], [VALORBRUTO], [DESCONTOI], [DESCONTOII], [VALORVERBA], [CODIGOVENDEDORESP], [MSGIMPORTACAO]) VALUES (128, 381, N'1548959072735', CAST(N'2019-01-31T00:00:00.000' AS DateTime), N'16:24', N'015609', N'2221.02.09X500 ', 13, NULL, 138.81, 138.81, NULL, NULL, NULL, N'000425', NULL)
GO
/****** Object:  Index [IX_T_PEDIDOITEM_CHAVE_SOBEL]    Script Date: 22/02/2019 17:13:48 ******/
ALTER TABLE [dbo].[T_PEDIDOITEM_SOBEL] ADD  CONSTRAINT [IX_T_PEDIDOITEM_CHAVE_SOBEL] UNIQUE NONCLUSTERED 
(
	[NUMPEDIDO] ASC,
	[NUMITEM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_T_PEDIDOITEM_Unico_SOBEL]    Script Date: 22/02/2019 17:13:48 ******/
ALTER TABLE [dbo].[T_PEDIDOITEM_SOBEL] ADD  CONSTRAINT [IX_T_PEDIDOITEM_Unico_SOBEL] UNIQUE NONCLUSTERED 
(
	[NUMPEDIDOAFV] ASC,
	[DATAPEDIDO] ASC,
	[HORAINICIAL] ASC,
	[CODIGOCLIENTE] ASC,
	[CODIGOPRODUTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [T_PEDIDO_UNICO_SOBEL]    Script Date: 22/02/2019 17:13:48 ******/
ALTER TABLE [dbo].[T_PEDIDO_SOBEL] ADD  CONSTRAINT [T_PEDIDO_UNICO_SOBEL] UNIQUE NONCLUSTERED 
(
	[NUMPEDIDOAFV] ASC,
	[DATAPEDIDO] ASC,
	[HORAINICIAL] ASC,
	[CODIGOCLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
